body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background: linear-gradient(to left, transparent, #fff),
    url("img/s4.jpg");
    background-size: cover; /* Cover the entire background */
    /*background-position: top; /* Center the background */

  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #555;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
  }
  
  nav a:hover {
    background-color: #777;
  }
  
  .active {
    background-color: #777;
  }
  
      /* CSS styles to center the images */
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full viewport height */
      }

      .image-container img {
        max-width: 100%;
        max-height: 100%;
        width: 300px; /* Adjust the width as needed */
        height: auto;
        margin: 0 auto; /* Center the images horizontally */
      }

      .elementor-heading-title {
        font-size: 100px; /* Adjust the font size as needed */
    }

    .cuadrado {
        width: 300px;           /* Ancho de 150 píxeles */
        height: 500px;          /* Alto de 150 píxeles */
        background: #777;        /* Fondo de color rojo */
        border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
        position: relative;
        left: 585px;
        top: 300px;
        background-position: 0%;
    }