  /*Dar estilo al cuadro donde esta el formulario*/
  .form {
    width: 500px;
    height: 200px;
    background-color: #e5e5e5;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 3px 5px rgb(82, 82, 82); /* Efecto de sombra con degradado */
    
  /*Para centrar horizontalmente */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*Dar estilo al formulario*/
  .form form {
    display: flex;
    flex-direction: column;
  }
  
  .form form label {
    margin-bottom: 10px;
  }

  .form form input {
    width: 150px;
  }
  /*Dar estilo al boton del formulario*/
  .form form button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .form form button:hover {
    background-color: hsl(0, 100%, 22%);
  }
  /*Dar estilo a los cuadros donde aparecen los resultados*/
  #resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 40%;
    left: 50%; /* Establecer el 50% del lado izquierdo */
    transform: translateX(-50%); /* Mover hacia la izquierda el 50% de su propio ancho */}
  
#resultado div {
    width: 10px;
    height: 10px;
    background-color: #e5e5e5;
    padding: 20px;
    box-shadow: 1px 3px 5px rgb(82, 82, 82);
    line-height: 15px;
}