/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient( to top, #5d6dff, #1100ff);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

pre {
    text-align: left;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
